# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/app/google-services.json
android/key.properties
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner/GoogleService-Info.plist
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Firebase
firebase-debug.log
.firebase/

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env
